/* colors :)
Light Blue: E4F2F2
EcoAssist Blue: 317087
EcoAssist Green: 78CA63
Light Green: C1F2AE
*/

  * {
    box-sizing: border-box;
  }
  body {
    font-family: Arial;
    padding: 0px;
    background: #ffffff;
    /* overflow-y: hidden; */
  }

  .header {
    padding-top: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  #leftcolumn {
    float: left;
    width: 70%;
    height: 100vh;
    max-height:100%;
    overflow-y: hidden;

  }
  #rightcolumn {
    padding: 1rem;
    padding-top: 2rem;
    float: left;
    width: 30%;
    height: 100vh;
    max-height:100%;
    overflow-y: scroll;
  }

  #page-wrap{
    overflow: hidden;
  }

  .card-good {
     background-color: #b9ffb3;
     padding: 20px;
     margin-bottom:20px;
  }

  .card-closed {
    background-color: #ffb9b3;
    padding: 20px;
    margin-bottom:20px;
 }

 .card-unknown {
  background-color: #e6e6e6;
  padding: 20px;
  margin-bottom:20px;
}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  } */

  /* ----------------------------- */
.collapsible:after {
  
   content: "\2b";
   font-weight:500;
   
  color: #000000;
  font-size: 35px;
  float: right;
  margin-left: 5px;
}

.activeq:after {
  
  content: "-";
  color: #323232;
}

.collapsible {

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
  
  margin: 3px;
  padding: 1.7rem;
  background-color: #ffffff;
  color: #2f2f2f;
  box-shadow: 0 5px 5px 0 rgba(80, 80, 80, 0.2), 0 5px 5px 0 rgba(80, 80, 80, 0.2);
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
}

.active{
  
  background-color: #4393b0;
  color: #000000;
}
.collapsible:hover {
  
  /* background-color: #4393b0; */
  color: #000000;
}

.content {

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
  border-radius: 0.5rem;
  padding: 20px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
}




.nav {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  background-color: #f1f1f1;
  
  width: 100%;
  
  text-align: right;
  position: relative;
  
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    padding: 26px;
  }
}

.link {
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  color: #0f0f0f;
  font-size: 24px;
  
  .bar {
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms;
  }
  
  &:hover {
    .bar {
      opacity: 1;
      bottom: 5px;
    }
  }
}

/* ------------ */
  /* ----------------------------- */